<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="wrapper clearfix">
    <div class="menu">
        <a href="/"><img src="/images/common/logo.png" class="logo"></a>
        <div>
            <div class="side-category is-top" data-category-type="top" style="display: none;">
                <% if (pageName !== 'top') { %>
                    <div class="clearfix">
                        <a href="/" class="side-category__content__link is-top">Top</a>
                    </div>
                <% } else { %>
                    <div class="side-category__content">
                        <p>訪問していただいて<br>ありがとうございます。<br>いままでに製作した作品や、日々のお勉強を残したブログを載せています。</p>
                    </div>
                <% } %>
            </div>
            <div class="side-category is-profile" data-category-type="profile" style="display: none;">
                <% if (pageName !== 'profile') { %>
                    <img src="/images/profile/profile_thumb.png" class="side-category__profile-icon">
                    <div class="side-category__content is-plofile is-side-plofile">
                        <p>湯浅 葉月</p>
                        <p>（ゆあさ はづき）</p>
                        <p>26歳</p>
                        <p>プログラミングをお勉強中</p>
                    </div>
                    <div class="clearfix">
                        <a href="/profile" class="side-category__content__link is-profile">Profile</a>
                    </div>
                <% } else { %>
                    <p class="side-category__content__title">Profile</p>
                    <div class="side-category__content__desc">
                        <p>Skill</p>
                        <table class="side-category__content__desc__table">
                            <tr>
                                <td>HTML</td>
                                <td>★★★★★</td>
                            </tr>
                            <tr>
                                <td>CSS</td>
                                <td>★★★★★</td>
                            </tr>
                            <tr>
                                <td>JavaScript　</td>
                                <td>★★</td>
                            </tr>
                            <tr>
                                <td>jQuery</td>
                                <td>★★★</td>
                            </tr>
                            <tr>
                                <td>Node.js</td>
                                <td>★★★</td>
                            </tr>
                            <tr>
                                <td>PHP</td>
                                <td>★★</td>
                            </tr>
                            <tr>
                                <td>Photoshop</td>
                                <td>★★</td>
                            </tr>
                        </table>
                    </div>
                <% } %>
            </div>
            <div class="side-category is-works" data-category-type="works" style="display: none;">
                <div class="side-category__content">
                    <% if (pageName !== 'works') { %>
                        <p>いままでにつくった作品をのせています。<br>どうぞ見ていってください。</p>
                        <div class="clearfix">
                            <a href="/works" class="side-category__content__link is-works">Works</a>
                        </div>
                    <% } else { %>
                        <p class="side-category__content__title">Works</p>
                    <% } %>
                </div>
            </div>
            <div class="side-category is-blog" data-category-type="blog" style="display: none;">
                <% if (pageName !== 'blog') { %>
                <div class="side-category__content">
                    <p>日々の生活や勉強したことなどを書いてます。</p>
                    <div class="clearfix">
                        <a href="/blog" class="side-category__content__link is-blog">Blog</a>
                    </div>
                    <% } else { %>
                        <p class="side-category__content__title">Blog Category</p>
                        <ul class="side-category__content__genre-list">
                            <li class="side-category__content__genre-item">
                                <a href="/blog#" class="side-category__content__genre-item-link">All</a>
                            </li>
                            <% genres.forEach(function(genre) { %>
                                <li class="side-category__content__genre-item">
                                    <a href="/blog#<%= genre.genre_id %>" class="side-category__content__genre-item-link"><%= genre.genre %></a>
                                </li>
                            <% }); %>
                        </ul>
                    <% } %>
                </div>
            </div>
            <div class="side-category is-contact" data-category-type="contact" style="display: none;">
                <% if (pageName !== 'contact') { %>
                    <div class="side-category__content">
                        <p>こちらから連絡がとれます。</p>
                    </div>
                    <div class="clearfix">
                        <a href="mailto:hazuki8zk@yahoo.co.jp" class="side-category__content__link is-contact">Contact</a>
                    </div>
                <% } else { %>
                    Mail
                <% } %>
            </div>
        </div>
        <ul class="category-list clearfix">
            <% categories.forEach(function(category) { %>
                <li>
                    <div class="category-tab is-<%= category.category_name %>" data-category-type="<%= category.category_name %>">
                        <%= category.category_name %>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="contents">
        <div class="main">
            <%- body %>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="/javascripts/jquery-hashchange.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script>
var radarChartData = {
    labels : ['HTML', 'JavaScript', 'CSS', 'jQuery', 'Node.js', 'PHP', 'Photoshop'],
    datasets : [
        {
            fillColor : 'rgba(133, 165, 204, 0.5)',
            strokeColor : 'rgba(133, 165, 204, 1)',
            pointColor : 'rgba(133, 165, 204, 1)',
            pointStrokeColor : '#fff',
            data : [5, 2, 5, 3, 3, 2, 2]
        }
    ]
};
if (document.getElementById('canvas')) {
    var chart = new Chart(document.getElementById('canvas').getContext('2d')).Radar(radarChartData);
}

$(function() {
    $modal = $('.modal')
    $modalShow = $('.modal-show');
    $modalClose = $('.modal-close');
    $modalShow.on('click', function() {
        $modal.fadeIn();
    });
    $modalClose.on('click', function() {
        $modal.fadeOut();
    });
    $sideCategory = $('.side-category');
    $categoryTab = $('.category-tab');
    $menu = $('.menu');
    $categoryTab.on('click', function() {
        var categoryType = $(this).data('category-type');
        $sideCategory.hide();
        $menu.removeClass('is-profile is-blog is-works is-top is-contact');
        $menu.addClass('is-' + categoryType);
        $categoryTab.removeClass('is-active');
        $(this).addClass('is-active');
        $sideCategory.each(function() {
            var _categoryType = $(this).data('category-type');
            if (categoryType === _categoryType) {
                $(this).show();
            }
        });
    });
    var url = location.pathname.substr(1) ? location.pathname.substr(1) : 'top';
    url = (url.indexOf('blog') != -1) ? 'blog' : url;
    $menu.addClass('is-' + url);
    $categoryTab.removeClass('is-active');
    $sideCategory.hide();
    $sideCategory.each(function() {
        var categoryType = $(this).data('category-type');
        if (categoryType === url) {
            $(this).show();
        }
    });
    $categoryTab.each(function() {
        var categoryType = $(this).data('category-type');
        if (categoryType === url) {
            $(this).addClass('is-active');
        }
    });
    var $blogItem = $('.blog-item');
    $(window).hashchange(function() {
        var hash = location.hash.substr(1);
        if (!hash) {
            $blogItem.show();
            return;
        }
        $blogItem.hide();
        $blogItem.each(function() {
            var genreId = $(this).data('genre-id');
            if (hash == genreId) {
                $(this).show();
            }
        });
    });
    $(window).hashchange();
});
</script>
</body>
</html>
